In [75]:
 # Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [93]:
school_data.head(5)

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [77]:
# Calculate the total number of schools

school_data["school_name"].nunique()


# Calculate the percentage of students with a passing math score (70 or greater)
# Calculate the percentage of students with a passing reading score (70 or greater)
# Calculate the percentage of students who passed math and reading (% Overall Passing)
# Create a dataframe to hold the above results
# Optional: give the displayed data cleaner formatting

In [79]:
# Calculate the total number of students
student_data ["Student ID"].count()

In [80]:
# Calculate the total budget
school_data["budget"].sum ()

In [42]:
# Calculate the average math score 
student_data["math_score"].mean ()

78.98537145774827

In [89]:
# Calculate the average reading score
student_data["reading_score"].mean ()

81.87784018381414

In [90]:
# Calculate the percentage of students with a passing math score (70 or greater)
# pass_math = student_data.loc[(student_data["math_score"]>70)]
# student_data["pass_math"].mean ()

In [ ]:
# Calculate the percentage of students with a passing reading score (70 or greater)

In [ ]:
# Calculate the percentage of students who passed math and reading (% Overall Passing)

In [ ]:
# Create a dataframe to hold the above results

In [91]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [92]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [96]:
#Create an overview table that summarizes key metrics about each school, including:
#School Name
school_data_complete["school_name"].unique()
#School Type
#Total Students
#Total School Budget
#Per Student Budget
#Average Math Score
#Average Reading Score
#% Passing Math
#% Passing Reading
#% Overall Passing (The percentage of students that passed math and reading.)

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [97]:
#School Type
school_data_complete["type"].unique()

array(['District', 'Charter'], dtype=object)

In [98]:
#Total Students